# Ignore the file containing secret environment variables
.env

# Ignore the Python virtual environment folder
/corrective_rag/

# Ignore Python cache files
__pycache__/
*.pyc


NIPS-2017-attention-is-all-you-need-Paper.pdf